@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(201, 185, 162);
}

.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: aliceblue;
    position: relative;
}

.dashboard {
    display: block;
    flex-direction: row;
    left: 0;  
    bottom: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgb(201, 185, 162);
    position: absolute;
}

.side-panel {
    display: block;
    width: 10%;
    height: 100%;
    margin-top: 70px;
    margin-left: 10px;
}

.avatar-sec {
    display: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.avatar-icon {
    margin: 10px 10px 0 10px;
    display: flex;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(99, 155, 208);
    border-radius: 50%;
    background-color: rgb(201, 237, 252);
}

.avatar-icon-img {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border-radius: 80px;
    margin-top: 27px;
    margin-right: 10px;
    text-align: center;
    color: rgb(5, 67, 125);
}

.avatar-name {
    display: flex;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 10px;
}

.avatar-id {
    margin-bottom: 30px;
}

.contents {
    display: block;
    width: 85%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 1.8px solid rgb(206, 206, 206);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.contents-container {
    display: block;
    width: 80%;
    height: 100%;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
    right: 0;
}

.contents-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}

.apt-container  h3 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    color: rgb(109, 107, 107);
}

.apt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 15px 0;
}

.apt-card {
    display: block;
    width: 90%;
    height: auto;
    padding: 30px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;

}

.apt-card p {
    font-size: 0.8rem;
    color: grey;
}

.apt-card li {
    color: rgb(87, 137, 11);
    margin: 15px 10px;
}

.apt-card .visit-days {
    color: black;
    font-weight: bold;
}

.schedule-details {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid #aba8a4;
    border-radius: 15px;
}

.fields {
    padding: 5px;
    display: flex;
    flex-direction: row; 
    width: 70%;
    height: auto; 
    justify-content: space-between;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fields input#date {
    width: 100px;
    height: 20px;
}


.fields input#time {
    width: 70px;
    height: 20px;
    margin-bottom: 5px;
}

.fields-container button.book-btn {
    width: 80px;
    height: 30px;
    background-color: rgb(5, 67, 125);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.side-link {
    display: flex;
    height: auto;
    width: 100%;
    gap: 10px;
}

.side-link a {
    text-decoration: none;
    color: black;
}

.counter {
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(48, 120, 144);
    margin-left: 50%;
}
.side-link .appt-count {
    color: #fff;
    font-weight: normal;
}
