<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>MediCare | Admin Dashboard</title>
</head>
<body>
    
    <div class="main-container">
        <div class="header">
            <h1>MediCare</h1>

            <ul class="link-lists">
                <a class="links" id="logoutbtn" href="../php/logout.php">Log Out</a>
            </ul>
        </div>

        <div class="dashboard">
            <div class="dashboard-container">
                <div class="side-panel">
                <div class="avatar-sec">
                    <div class="avatar-icon">
                        <div class="avatar-icon-img">
                           <p>JD</p> 
                        </div>
                        
                    </div>
                    <div class="avatar-name">
                        <h3 id="user_name"></h3>
                    </div>
                    <div class="avatar-id">
                        <p id="patient_id"></p>
                    </div>
                </div>


                <div class="side-links">
                    <div class="side-link">
                        <i class='bx bx-grid-alt'></i>
                        <a href="dashboardAdmin.html">Dashboard</a>
                    </div>

                    <div class="side-link">
                        <i class='bx bx-grid-alt'></i>
                        <a href="dashboardAdmin.html">Appointments</a>
                            <div class="counter">
                                <span class="appt-count">0</span>
                            </div>
                    </div>

                    <div class="side-link">
                        <i class='bx bx-grid-alt'></i>
                        <a href="dashboardAdmin.html">History</a>
                    </div> 
                </div>
                </div>


                <!--- Contents Panel-->
                <div class="contents">
                    <div class="contents-container">
                            <h2>Book an appointment</h2>
                            <p>Select a doctor and choose your preferred time</p>
                        <div class="apt-container">
                            <h3>Available Doctors</h3>
                            <div class="apt">
                                <!-- Doctor Card 1 -->
                                <div class="apt-card">
                                    <h4>Dr. Amara Patel</h4>
                                    <p>Cardiologist</p>
                                    <div class="visit-time">
                                        <p class="visit-days">Mon-Wed</p>
                                    </div>
                                    <button class="book-btn">Select</button>
                                </div>

                                <!-- Doctor Card 2 -->
                                 <div class="apt-card">
                                    <h4>Dr. Amara Patel</h4>
                                    <p>Cardiologist</p>
                                    <div class="visit-time">
                                        <p class="visit-days">Mon-Wed</p>
                                    </div>
                                    <button class="book-btn">Select</button>
                                </div>

                                    <!-- Doctor Card 3 -->
                                    <div class="apt-card">
                                        <h4>Dr. Amara Patel</h4>
                                        <p>Cardiologist</p>
                                        <div class="visit-time">
                                            <p class="visit-days">Mon-Wed</p>
                                        </div>
                                        <button class="book-btn">Select</button>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Appointment Container-->



                            <!-- Begining of Schedule Details-->
                            <div class="schedule-details">
                                <h3>Schedule Details</h3>
                                <p>Here you can schedule your appointment at any time that suits you.</p>

                                <div class="fields">
                                    <div class="fields-container">
                                        <label for="date">Date</label>
                                        <input type="date" id="date">
                                    </div>

                                    <div class="fields-container">
                                        <label for="time">Time</label>
                                        <input type="time" id="time">
                                    </div>

                                    <div class="fields-container">
                                        <button class="book-btn">Book now</button>
                                    </div>
                                </div>
                                <p>Select a doctor above to proceed.</p>
                            </div>
                            <!-- End of Schedule Details -->

                            <div class="appointments">
                                <h3>Scheduled Appoinments</h3>

                            <div class="scheduled-appointments">
                                <p>No booked appointments</p>
                            </div>
                        </div>
                        </div>

                        
                    </div>

                
            </div>
        </div>

    </div>

    <script src="../js/script.js"></script>
</body>
</html>